@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/* 1150 */
@media screen and (max-width: 1150px) {
    .h1__header {
        font-size: clamp(22px, 5vw, 72px);
    }

    .p__header {
        font-size: clamp(14px, 3vw, 24px);
    }

    .video__flex {
        flex-direction: column;
    }

    .vid__flex_left {
        margin-bottom: 20px;
    }

    .vid__flex_img {
        margin: 0 auto;
    }

    .overview__flexbox {
        flex-wrap: wrap;
    }
    .tech__grid {
        grid-template-columns: repeat(2, 1fr);
    }


}

/* 800 */

@media screen and (max-width: 800px) {

    .menu__list {
        display: none;
    }

    .menu__burger {
        display: flex;
    }

}

/* 600 */
@media screen and (max-width: 600px) {
    .contact_flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 30px;
    }

    .contact__right {
        max-width: 90%;
    }

    .contact__btn {
        margin: 0 auto;
    }

}


/* 500 */
@media screen and (max-width: 500px) {
    .h2__video, .h2__overview, .h2__tech, .h2__app, .h2_contact {
        font-size: clamp(16px, 8vw, 36px);
    }

    /* h2 {
        font-size: clamp(10px, 10vw, 36px);
    } */

    .header {
        min-height: 600px;
    }

    .header__menu {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

    }
    .app__flex {

        align-items: normal;
    }
}


/* 400 */

@media screen and (max-width: 400px) {
    .tech__grid {
        grid-template-columns: repeat(1, 1fr);
    }

}

